/* version: 1.1 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
	background: url('../images/DSC01623.JPG') no-repeat center center fixed; 
	background-size: cover;
}

.link{
	width: 5vw;
	height: 5vw;
	padding:.3vw;
	opacity: 0.5;
}

.link:hover{
	opacity: 1;
}

.wrapper {
	margin: 0;
	padding: 0;
	display: grid;
	/*border-style: solid;
	border-color: red;*/
	grid-template-rows: 3fr 1fr 3fr;
	grid-template-areas:
		"clock"
		"search"
		"links";
		
	width: 100vw;
	height: 100vh;
}

.time{
	display: flex;
	flex-direction: column;
	area: "clock";
	justify-content:flex-start;
	align-items: center;
}

.search {
	display: flex;
	area: "links";
	position: relative;
}



.links{
	/*border: 3px solid green;*/
	display: flex;
	flex-direction: row;
	area: "links";
	justify-content: center;
	align-items: flex-end;
}

.center {
	/*border: 3px solid green;*/
	justify-content: center;
	align-items:center;
}

#time {
	color: white;
	font-size: 7em;
}

#date {
	color: white;
	font-size: 3em;
}

#weekNumber {
	color: white;
	font-size: 2em;
}

#go {
	background-image: linear-gradient(#99d6ff, #008ae6);
	font-size: 1.5em;
	padding: .5em .5em .5em .5em;
	margin-left: 1vw;
	  border: 0.2vw solid #1aa3ff;
  border-radius: 4px;
}
#go:hover {
	border: 0.2vw solid #99d6ff;
}
#go:active {
	background-image: linear-gradient(#008ae6, #99d6ff);
	
	input[type=text]:focus {
		width: 30vw;
	}
}

#searchBar {
  width: 12vw;
  border: 0.2vw solid #008ae6;
  border-radius: 4px;
  font-size: 1.5em;
  background-color: #f2f2f2;
  background-image: url('../images/searchicon.png');
  background-size: auto;
  background-position: 0.25em center; 
  background-repeat: no-repeat;
  padding: .5em .5em .5em 1.5em;
  transition: width 0.4s ease-in-out;
}


/* CONTEXT MENU */
#btnMenu {
  max-width: 200px;
  min-width: 200px;
  position: absolute;
  display: none;
  flex-direction:row;
  cursor: pointer;
  background-color: #f2f2f2bf;
  border: 3px solid #008ae6;
  box-shadow: 8px 8px 5px #a6a6a6cc; /* last two is alpha channel (cc being 80%) */
}

.menuItem {
  padding: 10px;
  mouse-cursor: 
}

.menuItem:hover {
  background-color:#008ae6;
}

#editMenuItem{
	display: none; /* flex */
	position:fixed; 
	left:0; 
	top:0;
	width:100vw; 
	height:100vh; 
	z-index: 100;
	background-color:#f6f6f680;
	font-size: 1.5rem;
	
	align-items:center;
	justify-content:center;
}

#iconUpload{
	display: none;
}

#quickLinks{
	display: none;
}

#linkSettingsForm{
  display: grid;
  
  grid-template-columns: 210px 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr 1fr;
  grid-template-areas: "head head close"
              "icon descr descr"
              "icon url url"
              "icon target save";
  
  width: 50vw;
  min-width: 440px;
  font-size: 1.2rem;
}

#header{
  grid-area: head;
  
  border-radius: 20px 0 0 0;
  padding: 10px;
  background-color: #008ae6;
  border: 5px solid #008ae6;
  
  align-items: center;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: bold;
}

#close{
  grid-area: close;
  display: flex;
  
  border-radius: 0 20px 0 0;
  padding: 10px;
  background-color: #008ae6;
  border: 5px solid #008ae6;
  
  align-items: center;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: bold;
  
  justify-content: flex-end;
  
  cursor: pointer;
}

#icon{
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 30px;
  border-radius: 0 0 0 20px;

  background-color: #f2f2f2;
  border-left: 5px solid #008ae6;
  border-bottom: 5px solid #008ae6;
  border-right: 1px solid;
}

#linkDescr{
  grid-area: descr;
  padding: 10px;
  background-color: #f2f2f2; 
  border-right: 5px solid #008ae6;
  font-weight: bold;
}

#linkUrl{
  grid-area: url;
  padding: 10px;
  background-color: #f2f2f2;  
  border-right: 5px solid #008ae6;
  font-weight: bold;
}

#linkTarget{
  grid-area: target;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;  
  font-weight: bold;
  padding: 10px;
  border-bottom: 5px solid #008ae6
}

#newTab{
  transform: scale(1.5);
  margin-left: 10px;
}

#save{
  grid-area: save;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  border-radius: 0 0 20px 0;
  padding: 10px;
  background-color: #f2f2f2;
  border-right: 5px solid #008ae6;
  border-bottom: 5px solid #008ae6;
}

#saveBtn{
  padding: 10px;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  border-radius: 20px;
  
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1rem;
  
  border: 0px;
  background-color: #008ae6;
  
  cursor: pointer;
}

#saveBtn:active{
  background-color: #99d6ff;  
}

.settingsInput{
  min-width: 200px;
  width: 100%;
  font-size: 1.2rem;
  padding: 3px;
}





/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
	#time {
		font-size: 4em;
	}
	#date {
		font-size: 2em;
	}
	#weekNumber {
		font-size: 2em;
	}
}

@media only screen and (max-height: 600px) {
	#weekNumber {
		display: none;
	}
}

@media only screen and (max-height: 400px) {
	#date {
		display: none;
	}
}